.anatomy_page {

    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;

}

.info_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.text_box {
    width: 80rem;
    height: 10rem;
    /* background-color: #7C8DB0; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.text {
    /* background-color: red; */
    color: white;
    font-size: 1.5em;
    /* text-indent: 1.5em; */
    padding: 1em;
}

.image {
    border: 1rem solid #CC3344;
    border-radius: 10%;
}