.home_page {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
}

.hero_section {
    /* margin-top: -6rem; */
    position: relative;
    text-align: center;
}

.hero_image {
    width:100%;
    height: 556px;
}


/* put three pictures for the content of the home page */
.images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.image {
    border: 1rem solid #9FC490;
    border-radius: 10%;
    width: 600px;
    height: 417px;
    
}

@media (max-width: 1960px) {
    .header {
        color: red;
    }

    .image {
        width: 500px;
        height: 347px;
    }
}

@media (max-width: 1640px) {
    .header {
        color: green;
    }

    .image {
        width: 450px;
        height: 312px;
    }
}

/* 1440 */
@media (max-width: 1500px) {
    .header {
        color: blue;
    }

    .hero_image {
        height: 400px;
    }

    .image {
        width: 400px;
        height: 278px;
    }


}