.references_page {
    display: flex;
    flex-direction: column;
}

.header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
}

.hero_section {
    position: relative;
    text-align: center;
    box-shadow: 0 4px 2px -2px gray;

}

.text {
    font-size: 2rem;
    color: black;
}


@media (max-width: 1440px) {


    .hero_image {
        height: 400px;
    }

    .image {
        width: 400px;
        height: 278px;
    }


}