.whereabouts_page {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
}

.hero_section {
    position: relative;
    text-align: center;

}

.hero_image {
    width:100%;
    height: 556px;
}

.info_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.text_box {
    width: 30rem;
    height: 20rem;
    /* background-color: #7C8DB0; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.text {
    /* background-color: red; */
    color: black;
    font-size: 1.5em;
    /* text-indent: 1.5em; */
    padding: 1em;
}

.image {
    border: 1rem solid #9FC490;
    border-radius: 10%;
    width: 600px;
    height: 417px;
}

@media (max-width: 1440px) {


    .hero_image {
        height: 400px;
    }

    .image {
        width: 500px;
        height: 347px;
    }


}