.whereabouts_page {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.header {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
}

.hero_section {
    margin-top: -6rem;
    box-shadow: 0 4px 2px -2px gray;

}

.info_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.text_box {
    width: 30rem;
    height: 20rem;
    /* background-color: #7C8DB0; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.text {
    /* background-color: red; */
    color: black;
    font-size: 1.5em;
    /* text-indent: 1.5em; */
    padding: 1em;
}

.image {
    border: 1rem solid #9FC490;
    border-radius: 10%;
}